{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <form action="{{ path('employees_emailtest') }}" method="post">

        <div class="row">
            <div class="col-xs-6" align="right">
                <strong>Email(s) (email1, email2, email3 ...):</strong>
            </div>
            <div class="col-xs-6" align="left">
                <input type="text" class="form-control" name="email">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6" align="right">
                <strong>CC (email1, email2, email3 ...):</strong>
            </div>
            <div class="col-xs-6" align="left">
                <input type="text" class="form-control" name="emailcc">
            </div>
        </div>

        <br>
        <input class="btn btn-primary" type="submit">
    </form>

{% endblock %}