{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block content %}

    <h3 class="text-info">Site Parameters</h3>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>Max Idle Time (minutes)</td>
                <td>{{ entity.maxIdleTime }}</td>
                <td>
                   <a href="{{ path('siteparameters_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('siteparameters_new') }}">#}
                {#Create a new entry#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}

    {% endblock %}
