
.transres-textarea-noborder {
    /*outline: none;*/
    /*overflow: hidden;*/
    border: none;
    resize:none;
    /*width: 100%;*/
    width: 500px;
    background-color: #fcfcfc;
}


.transres-noborder,
.transres-noborder tr,
.transres-noborder td {
    border: none;
    padding-right: 15px;
    padding-bottom: 5px;
    vertical-align: top;
}
