{% extends "OlegCallLogBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}


{% block title %}
    Under Construction
{% endblock %}


{% block content %}

    {#<h4 class="text-info" align="center">#}
        {#Under Construction#}
    {#</h4>#}

    <br>
    <br>
    <br>


    <p>
        <img src="{{ asset('bundles/oleguserdirectory/form/img/comingsoon.jpg') }}" alt="Coming Soon">
    </p>


    <br>
    <br>
    <br>


{% endblock %}

