/Scanorders2/nbproject/private/
/nbproject/private/
/nbproject/
/vendor/
/Scanorders2/.idea/
.idea/
Scanorders2/web/uploads/
importUserLists
importLists
Certificate
Vendorutil
/*/.idea/
orderflex_orig
/orderflex/public/Uploaded/
/orderflex/config/parameters.yml
/orderflex/.env*
/orderflex/var/
