/* 
    Created on : Jul 17, 2013, 1:12:10 PM
    Author     : oli2002
*/
//input, label {
    //display: inline;
    //display: inline-block;
    //width: 50px;
//}
input[type=radio] {
    display: inline;
}

.flash-notice {
  color: #0081c2;
  font-size: 200%;
  margin-top: 3%
}

.page-content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 5%;
    float: left;
    width: 90%;
    text-align: center;
}

.header {
    float: left;
    width: 100%;
}

.order-content {
    margin-top: 10%;
    /*float: left;*/
    /*width: 100%;*/
}

.footer {
    margin-top: 5%;
    float: left;
    width: 100%;
}

.form_label_input {
    float: left;
    width: 100%;
    margin-top: 2%;
}

.btn_margin_top {
    margin-top: 2%;
}

.slide_new {
    float:left; 
    width: 30%;
}

#form_menu {
    float: left;
    width: 100%;
}

/*.action-button {
    float: left;
}*/

#next_button {
    margin-top: 2%; 
}

.buttons-full-bar {
    margin-bottom: 2%;
    margin-top: 2%;
    float: left;
    width: 100%;
}

.form_edit {
    float: left;
    width: 100%;
}

#acc_part_block {
    //float: left;
    //width: 150px;
}

.olspan1 {
    //margin: 0 auto; // !important;
    //padding: 0; // !important;
    //width: auto;
}
.olspanmin {
    //float: left;
    //margin: 0 auto; // !important;
    //padding: 0; // !important;
    //width: auto;
}

