
.wrapper1, .wrapper2 {
    //width: 500px;
    border: none 0px RED;
    overflow-x: scroll;
    overflow-y:hidden;
}

.wrapper1 {
    height: 20px;
}
.wrapper2 {
    height: 200px;
}

.div1 {
    //width:1000px;
    height: 20px;
}

.div2 {
    //width:1000px;
    //height: 200px;
    /*background-color: #88FF88;*/
    overflow: auto;
}

.handsontable .currentRowScanorder {
    background-color: #E7E8EF;
}

.handsontable .currentColScanorder {
    background-color: #F9F9FB;
}

.handsontable .ht-validation-error {
    background-color: #F2DEDE;
}

.handsontable .ht-conflict-error {
    background-color: yellow;
}

.handsontable .ht-conflictborder-error {
    //border-left:1px solid red;
    border-width:1px 0;
    border-style:solid;
    border-color:red;
}

.handsontable .ht-redwithconflictborder-error {
    background-color: #F2DEDE;
    border-width:1px 0;
    border-style:solid;
    border-color:red;
}
