monolog:
      - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists
#    channels: ['knp_snappy', 'deprecation']
#    handlers:
#        knp_snappy:
#            type: stream
#            path: '%kernel.logs_dir%/knp_snappy.log'
#            level: debug
#            channels: ['knp_snappy']
#
#        deprecation:
#            type: stream
#            path: '%kernel.logs_dir%/deprecations.log'
#            level: debug
#            channels: ['deprecation']
#        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

#when@dev:
#    monolog:
#        handlers:
#            main:
#                type: rotating_file #stream
#                path: "%kernel.logs_dir%/%kernel.environment%_NOTICE.log"
#                level: notice #debug
#                #channels: ["!event", "!deprecation", "!doctrine", "!debug"]
#                max_files: 30 #10 days rotating
#            nested_error:
#                type: rotating_file #stream
#                path: '%kernel.logs_dir%/%kernel.environment%_ERROR.log'
#                level: error
#                max_files: 30 #10 days rotating
#            # uncomment to get logging in your browser
#            # you may have to allow bigger header sizes in your Web server configuration
#            #firephp:
#            #    type: firephp
#            #    level: info
#            #chromephp:
#            #    type: chromephp
#            #    level: info
#            debugnotes:
#                type: rotating_file #stream
#                path: "%kernel.logs_dir%/%kernel.environment%_DEBUG.log"
#                level: debug
#                channels: ["!event", "!deprecation", "!doctrine"]
#                max_files: 30 #10 days rotating
#            console:
#                type: console
#                process_psr_3_messages: false
#                channels: ["!event", "!doctrine", "!console"]
#            deprecation:
#                type: rotating_file
#                channels: [deprecation]
#                path: '%kernel.logs_dir%/%kernel.environment%_DEPRECATION.log'
#            doctrine:
#                type: rotating_file
#                channels: [doctrine]
#                path: '%kernel.logs_dir%/%kernel.environment%_DOCTRINE.log'

when@dev:
    monolog:
        handlers:
            main:
                type: rotating_file #stream #fingers_crossed
                #action_level: error
                #handler: nested
                #excluded_http_codes: [404, 405]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
                path: '%kernel.logs_dir%/%kernel.environment%.log'
                level: notice
                max_files: 30 #10 days rotating
#            nested:
#                type: rotating_file
#                #path: php://stderr
#                buffer_size: 50
#                level: debug
#                #formatter: monolog.formatter.json
#                path: '%kernel.logs_dir%/%kernel.environment%_DEBUG.log'
            nested_error:
                type: rotating_file
                path: '%kernel.logs_dir%/%kernel.environment%_ERROR.log'
                level: error
                max_files: 30 #10 days rotating
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                #path: '%kernel.logs_dir%/%kernel.environment%_DEPRECATION.log'

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
            nested_error:
                type: stream
                path: '%kernel.logs_dir%/%kernel.environment%_ERROR.log'
                level: error

when@prod:
    monolog:
        handlers:
            main:
                type: rotating_file #stream #fingers_crossed
                #action_level: error
                #handler: nested
                #excluded_http_codes: [404, 405]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
                path: '%kernel.logs_dir%/%kernel.environment%.log'
                level: notice
                max_files: 30 #10 days rotating
#            nested:
#                type: stream
#                #path: php://stderr
#                level: debug
#                formatter: monolog.formatter.json
#                path: '%kernel.logs_dir%/%kernel.environment%.log'
            nested_error:
                type: rotating_file
                path: '%kernel.logs_dir%/%kernel.environment%_ERROR.log'
                level: error
                max_files: 30 #10 days rotating
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                #path: '%kernel.logs_dir%/%kernel.environment%_DEPRECATION.log'
