security:
    #enable_authenticator_manager: true #Since symfony/security-bundle 6.2: The "enable_authenticator_manager" option at "security" is deprecated.

    # affirmative (default) - This grants access as soon as there is one voter granting access;
    # unanimous - This only grants access once all voters grant access. affirmative, consensus or unanimous
    access_decision_manager:
        strategy: affirmative

    #encoders: - deprecated
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        #Symfony\Component\PasswordHasher\Hasher\UserPasswordHasherInterface: 'auto'
        #App\UserdirectoryBundle\Entity\User:
        #    algorithm: auto

        # auto hasher with custom options for all PasswordAuthenticatedUserInterface instances
#        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
#            algorithm: 'auto'
#            cost:      15

        #FOS\UserBundle\Model\UserInterface: sha512

#        FOS\UserBundle\Model\UserInterface:
#            id: security.encoder.scrypt
#        FOS\UserBundle\Model\UserInterface: bcrypt
#        Symfony\Component\Security\Core\User\User: plaintext
#        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:

        # Scan order roles
        ROLE_SCANORDER_ALL_PATHOLOGY: [ROLE_SCANORDER_PATHOLOGY_RESIDENT, ROLE_SCANORDER_PATHOLOGY_FELLOW, ROLE_SCANORDER_PATHOLOGY_FACULTY]

        ROLE_SCANORDER_PATHOLOGY_RESIDENT: [ROLE_SCANORDER_SUBMITTER, ROLE_SCANORDER_ORDERING_PROVIDER]
        ROLE_SCANORDER_PATHOLOGY_FELLOW: [ROLE_SCANORDER_SUBMITTER, ROLE_SCANORDER_ORDERING_PROVIDER]
        ROLE_SCANORDER_PATHOLOGY_FACULTY: [ROLE_SCANORDER_SUBMITTER, ROLE_SCANORDER_ORDERING_PROVIDER]
        ROLE_SCANORDER_SUBMITTER: [ROLE_USER]
        ROLE_SCANORDER_ORDERING_PROVIDER: [ROLE_USER]

        ROLE_SCANORDER_PROCESSOR:   [ROLE_USER, ROLE_SCANORDER_SUBMITTER, ROLE_SCANORDER_ORDERING_PROVIDER, ROLE_SCANORDER_ALL_PATHOLOGY, ROLE_EDITOR]
        ROLE_SCANORDER_ADMIN:       [ROLE_USER, ROLE_SCANORDER_PROCESSOR, ROLE_SCANORDER_SUBMITTER, ROLE_SCANORDER_ORDERING_PROVIDER, ROLE_SCANORDER_ALL_PATHOLOGY, ROLE_EDITOR]

        # Userdirectory roles
        ROLE_USERDIRECTORY_EDITOR: [ROLE_EDITOR, ROLE_USER, ROLE_USERDIRECTORY_OBSERVER]
        ROLE_USERDIRECTORY_ADMIN: [ROLE_USER, ROLE_USERDIRECTORY_OBSERVER, ROLE_USERDIRECTORY_EDITOR]

        # FellApp roles
        ROLE_FELLAPP_ADMIN: [ROLE_USER, ROLE_FELLAPP_OBSERVER, ROLE_USERDIRECTORY_EDITOR]
#        ROLE_FELLAPP_COORDINATOR: [ROLE_FELLAPP_USER, ROLE_FELLAPP_INTERVIEWER, ROLE_FELLAPP_OBSERVER]
#        ROLE_FELLAPP_DIRECTOR: [ROLE_FELLAPP_USER, ROLE_FELLAPP_INTERVIEWER, ROLE_FELLAPP_OBSERVER]
#        ROLE_FELLAPP_INTERVIEWER: [ROLE_FELLAPP_USER]
        ROLE_FELLAPP_OBSERVER: [ROLE_FELLAPP_USER]
#        ROLE_FELLAPP_USER: [ROLE_USER, ROLE_USERDIRECTORY_OBSERVER]
#        ROLE_FELLAPP_ADMIN: [ROLE_USER, ROLE_FELLAPP_USER, ROLE_FELLAPP_INTERVIEWER, ROLE_FELLAPP_OBSERVER, ROLE_FELLAPP_COORDINATOR, ROLE_FELLAPP_DIRECTOR, ROLE_USERDIRECTORY_EDITOR]
#        ROLE_FELLAPP_COORDINATOR: [ROLE_FELLAPP_USER, ROLE_FELLAPP_INTERVIEWER, ROLE_FELLAPP_OBSERVER]
#        ROLE_FELLAPP_DIRECTOR: [ROLE_FELLAPP_USER, ROLE_FELLAPP_INTERVIEWER, ROLE_FELLAPP_OBSERVER]
#        ROLE_FELLAPP_INTERVIEWER: [ROLE_FELLAPP_USER]
#        ROLE_FELLAPP_OBSERVER: [ROLE_FELLAPP_USER]
#        ROLE_FELLAPP_USER: [ROLE_USER, ROLE_USERDIRECTORY_OBSERVER]

        # Deidentifier roles
#        ROLE_DEIDENTIFICATOR_ADMIN: [ROLE_DEIDENTIFICATOR_USER]
#        ROLE_DEIDENTIFICATOR_USER: [ROLE_USER, ROLE_USERDIRECTORY_OBSERVER]

        # General roles
#        ROLE_BANNED: [ROLE_SCANORDER_BANNED, ROLE_USERDIRECTORY_BANNED]
#        ROLE_UNAPPROVED: [ROLE_USERDIRECTORY_UNAPPROVED, ROLE_SCANORDER_UNAPPROVED]
#        ROLE_EDITOR: [ROLE_SCANORDER_PROCESSOR, ROLE_USERDIRECTORY_EDITOR]  #permission to edit the content of DB such as change access request status
#        ROLE_SCANORDER_PROCESSOR: [ROLE_EDITOR]
#        ROLE_USERDIRECTORY_EDITOR: [ROLE_EDITOR]

        # ResApp roles
        ROLE_RESAPP_OBSERVER:     [ROLE_RESAPP_USER, ROLE_USERDIRECTORY_OBSERVER]
#        ROLE_RESAPP_DIRECTOR:     [ROLE_USER, ROLE_RESAPP_OBSERVER, ROLE_USERDIRECTORY_OBSERVER]
#        ROLE_RESAPP_COORDINATOR:  [ROLE_USER, ROLE_RESAPP_OBSERVER, ROLE_USERDIRECTORY_OBSERVER]
        ROLE_RESAPP_ADMIN:        [ROLE_USER, ROLE_RESAPP_OBSERVER, ROLE_USERDIRECTORY_EDITOR, ROLE_RESAPP_DIRECTOR, ROLE_RESAPP_COORDINATOR]

        #Calllog
        ROLE_CALLLOG_PATHOLOGY_ATTENDING: [ROLE_CALLLOG_USER]
        ROLE_CALLLOG_PATHOLOGY_RESIDENT: [ROLE_CALLLOG_USER]
        ROLE_CALLLOG_PATHOLOGY_FELLOW: [ROLE_CALLLOG_USER]
        ROLE_CALLLOG_DATA_QUALITY: [ROLE_CALLLOG_USER]
        ROLE_CALLLOG_ADMIN: [ROLE_CALLLOG_USER, ROLE_CALLLOG_PATHOLOGY_ATTENDING, ROLE_CALLLOG_PATHOLOGY_RESIDENT, ROLE_CALLLOG_PATHOLOGY_FELLOW, ROLE_CALLLOG_DATA_QUALITY, ROLE_EDITOR]

        #Crn
        ROLE_CRN_PATHOLOGY_ATTENDING: [ROLE_CRN_USER]
        ROLE_CRN_PATHOLOGY_RESIDENT: [ROLE_CRN_USER]
        ROLE_CRN_PATHOLOGY_FELLOW: [ROLE_CRN_USER]
        ROLE_CRN_DATA_QUALITY: [ROLE_CRN_USER]
        ROLE_CRN_RECIPIENT: [ROLE_CRN_USER]
        ROLE_CRN_PATHOLOGY_DERMATOPATHOLOGY_PRACTICE_SUPERVISOR: [ROLE_CRN_USER]
        ROLE_CRN_PATHOLOGY_DERMATOPAHOLOGY_ADMINISTRATIVE_ASSISTANT: [ROLE_CRN_USER]
        ROLE_CRN_PATHOLOGY_PRACTICE_SUPERVISOR: [ROLE_CRN_USER]
        ROLE_CRN_PATHOLOGY_ADMINISTRATIVE_ASSISTANT: [ROLE_CRN_USER]
        ROLE_CRN_ADMIN: [ROLE_CRN_USER, ROLE_CRN_PATHOLOGY_ATTENDING, ROLE_CRN_PATHOLOGY_RESIDENT,
                        ROLE_CRN_PATHOLOGY_FELLOW, ROLE_CRN_DATA_QUALITY, ROLE_CRN_RECIPIENT,
                        ROLE_CRN_PATHOLOGY_DERMATOPATHOLOGY_PRACTICE_SUPERVISOR,ROLE_CRN_PATHOLOGY_DERMATOPAHOLOGY_ADMINISTRATIVE_ASSISTANT,
                        ROLE_CRN_PATHOLOGY_PRACTICE_SUPERVISOR,ROLE_CRN_PATHOLOGY_ADMINISTRATIVE_ASSISTANT]


        #Simple Hierarchy for partial role ROLE_TRANSRES_ can be handled by TranslationalResearchRoleVoter:
        #ROLE_TRANSRES_IRB_REVIEWER has ROLE_TRANSRES_IRB_REVIEWER_MISI
        # Translational Research
        ROLE_TRANSRES_TECHNICIAN_APCP: [ROLE_TRANSRES_USER, ROLE_TRANSRES_TECHNICIAN]
        ROLE_TRANSRES_TECHNICIAN_HEMATOPATHOLOGY: [ROLE_TRANSRES_USER, ROLE_TRANSRES_TECHNICIAN]
        ROLE_TRANSRES_TECHNICIAN_COVID19: [ROLE_TRANSRES_USER, ROLE_TRANSRES_TECHNICIAN]
        ROLE_TRANSRES_TECHNICIAN_MISI: [ROLE_TRANSRES_USER, ROLE_TRANSRES_TECHNICIAN]
#        ROLE_TRANSRES_TECHNICIAN: [ROLE_TRANSRES_TECHNICIAN_APCP, ROLE_TRANSRES_TECHNICIAN_HEMATOPATHOLOGY]

        #Add "CTP Lab", "MISI Lab" Work Queue for Tech and Admin roles

        ROLE_TRANSRES_REQUESTER_APCP: [ROLE_TRANSRES_USER]
        ROLE_TRANSRES_REQUESTER_HEMATOPATHOLOGY: [ROLE_TRANSRES_USER]
        ROLE_TRANSRES_REQUESTER_COVID19: [ROLE_TRANSRES_USER]
        ROLE_TRANSRES_REQUESTER_MISI: [ROLE_TRANSRES_USER]
#        ROLE_TRANSRES_REQUESTER: [ROLE_TRANSRES_REQUESTER_APCP, ROLE_TRANSRES_REQUESTER_HEMATOPATHOLOGY]

        ROLE_TRANSRES_IRB_REVIEWER_APCP: [ROLE_TRANSRES_USER, ROLE_TRANSRES_IRB_REVIEWER]
        ROLE_TRANSRES_IRB_REVIEWER_HEMATOPATHOLOGY: [ROLE_TRANSRES_USER, ROLE_TRANSRES_IRB_REVIEWER]
        ROLE_TRANSRES_IRB_REVIEWER_COVID19: [ROLE_TRANSRES_USER, ROLE_TRANSRES_IRB_REVIEWER]
        ROLE_TRANSRES_IRB_REVIEWER_MISI: [ROLE_TRANSRES_USER, ROLE_TRANSRES_IRB_REVIEWER]
#        ROLE_TRANSRES_IRB_REVIEWER: [ROLE_TRANSRES_IRB_REVIEWER_APCP, ROLE_TRANSRES_IRB_REVIEWER_HEMATOPATHOLOGY]

        ROLE_TRANSRES_COMMITTEE_REVIEWER_APCP: [ROLE_TRANSRES_USER, ROLE_TRANSRES_COMMITTEE_REVIEWER]
        ROLE_TRANSRES_COMMITTEE_REVIEWER_HEMATOPATHOLOGY: [ROLE_TRANSRES_USER, ROLE_TRANSRES_COMMITTEE_REVIEWER]
        ROLE_TRANSRES_COMMITTEE_REVIEWER_COVID19: [ROLE_TRANSRES_USER, ROLE_TRANSRES_COMMITTEE_REVIEWER]
        ROLE_TRANSRES_COMMITTEE_REVIEWER_MISI: [ROLE_TRANSRES_USER, ROLE_TRANSRES_COMMITTEE_REVIEWER]
#        ROLE_TRANSRES_COMMITTEE_REVIEWER: [ROLE_TRANSRES_COMMITTEE_REVIEWER_APCP, ROLE_TRANSRES_COMMITTEE_REVIEWER_HEMATOPATHOLOGY]

        ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_APCP: [ROLE_TRANSRES_USER, ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER]
        ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_HEMATOPATHOLOGY: [ROLE_TRANSRES_USER, ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER]
        ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_COVID19: [ROLE_TRANSRES_USER, ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER]
        ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_MISI: [ROLE_TRANSRES_USER, ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER]
#        ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER: [ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_APCP, ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_HEMATOPATHOLOGY]

        ROLE_TRANSRES_PRIMARY_REVIEWER_APCP: [ROLE_TRANSRES_USER, ROLE_TRANSRES_PRIMARY_REVIEWER]
        ROLE_TRANSRES_PRIMARY_REVIEWER_HEMATOPATHOLOGY: [ROLE_TRANSRES_USER, ROLE_TRANSRES_PRIMARY_REVIEWER]
        ROLE_TRANSRES_PRIMARY_REVIEWER_COVID19: [ROLE_TRANSRES_USER, ROLE_TRANSRES_PRIMARY_REVIEWER]
        ROLE_TRANSRES_PRIMARY_REVIEWER_MISI: [ROLE_TRANSRES_USER, ROLE_TRANSRES_PRIMARY_REVIEWER]
#        ROLE_TRANSRES_PRIMARY_REVIEWER: [ROLE_TRANSRES_PRIMARY_REVIEWER_APCP, ROLE_TRANSRES_PRIMARY_REVIEWER_HEMATOPATHOLOGY]

        ROLE_TRANSRES_BILLING_ADMIN_APCP: [ROLE_TRANSRES_USER, ROLE_TRANSRES_BILLING_ADMIN]
        ROLE_TRANSRES_BILLING_ADMIN_HEMATOPATHOLOGY: [ROLE_TRANSRES_USER, ROLE_TRANSRES_BILLING_ADMIN]
        ROLE_TRANSRES_BILLING_ADMIN_COVID19: [ROLE_TRANSRES_USER, ROLE_TRANSRES_BILLING_ADMIN]
        ROLE_TRANSRES_BILLING_ADMIN_MISI: [ROLE_TRANSRES_USER, ROLE_TRANSRES_BILLING_ADMIN]
#        ROLE_TRANSRES_BILLING_ADMIN: [ROLE_TRANSRES_BILLING_ADMIN_APCP, ROLE_TRANSRES_BILLING_ADMIN_HEMATOPATHOLOGY]

        ROLE_TRANSRES_EXECUTIVE_HEMATOPATHOLOGY: [ROLE_TRANSRES_USER, ROLE_TRANSRES_EXECUTIVE]
        ROLE_TRANSRES_EXECUTIVE_APCP: [ROLE_TRANSRES_USER, ROLE_TRANSRES_EXECUTIVE]
        ROLE_TRANSRES_EXECUTIVE_COVID19: [ROLE_TRANSRES_USER, ROLE_TRANSRES_EXECUTIVE]
        ROLE_TRANSRES_EXECUTIVE_MISI: [ROLE_TRANSRES_USER, ROLE_TRANSRES_EXECUTIVE]
#        ROLE_TRANSRES_EXECUTIVE: [ROLE_TRANSRES_EXECUTIVE_HEMATOPATHOLOGY, ROLE_TRANSRES_EXECUTIVE_APCP]

        #TODO: implement this hierarchy in voter
        ROLE_TRANSRES_ADMIN_APCP: [ROLE_TRANSRES_USER, ROLE_TRANSRES_ADMIN,
                                  ROLE_TRANSRES_TECHNICIAN_APCP, ROLE_TRANSRES_REQUESTER_APCP,
                                  ROLE_TRANSRES_IRB_REVIEWER_APCP, ROLE_TRANSRES_COMMITTEE_REVIEWER_APCP, ROLE_TRANSRES_PRIMARY_REVIEWER_APCP,
                                  ROLE_TRANSRES_BILLING_ADMIN_APCP, ROLE_TRANSRES_EXECUTIVE_APCP, ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_APCP]
        ROLE_TRANSRES_ADMIN_HEMATOPATHOLOGY: [ROLE_TRANSRES_USER, ROLE_TRANSRES_ADMIN,
                                             ROLE_TRANSRES_TECHNICIAN_HEMATOPATHOLOGY, ROLE_TRANSRES_REQUESTER_HEMATOPATHOLOGY,
                                             ROLE_TRANSRES_IRB_REVIEWER_HEMATOPATHOLOGY, ROLE_TRANSRES_COMMITTEE_REVIEWER_HEMATOPATHOLOGY, ROLE_TRANSRES_PRIMARY_REVIEWER_HEMATOPATHOLOGY,
                                             ROLE_TRANSRES_BILLING_ADMIN_HEMATOPATHOLOGY, ROLE_TRANSRES_EXECUTIVE_HEMATOPATHOLOGY, ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_HEMATOPATHOLOGY]
        ROLE_TRANSRES_ADMIN_COVID19: [ROLE_TRANSRES_USER, ROLE_TRANSRES_ADMIN,
                                          ROLE_TRANSRES_TECHNICIAN_COVID19, ROLE_TRANSRES_REQUESTER_COVID19,
                                          ROLE_TRANSRES_IRB_REVIEWER_COVID19, ROLE_TRANSRES_COMMITTEE_REVIEWER_COVID19, ROLE_TRANSRES_PRIMARY_REVIEWER_COVID19,
                                          ROLE_TRANSRES_BILLING_ADMIN_COVID19, ROLE_TRANSRES_EXECUTIVE_COVID19, ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_COVID19]
        ROLE_TRANSRES_ADMIN_MISI: [ROLE_TRANSRES_USER, ROLE_TRANSRES_ADMIN,
                                          ROLE_TRANSRES_TECHNICIAN_MISI, ROLE_TRANSRES_REQUESTER_MISI,
                                          ROLE_TRANSRES_IRB_REVIEWER_MISI, ROLE_TRANSRES_COMMITTEE_REVIEWER_MISI, ROLE_TRANSRES_PRIMARY_REVIEWER_MISI,
                                          ROLE_TRANSRES_BILLING_ADMIN_MISI, ROLE_TRANSRES_EXECUTIVE_MISI, ROLE_TRANSRES_PRIMARY_COMMITTEE_REVIEWER_MISI]
#        ROLE_TRANSRES_ADMIN: [ROLE_TRANSRES_ADMIN_APCP, ROLE_TRANSRES_ADMIN_HEMATOPATHOLOGY, ROLE_TRANSRES_ADMIN_COVID19, ROLE_TRANSRES_ADMIN_MISI]

        ROLE_TRANSRES_BIOINFORMATICIAN: [ROLE_TRANSRES_USER]
        ROLE_TRANSRES_PROJECT_REACTIVATION_APPROVER: [ROLE_TRANSRES_USER]

        ROLE_DASHBOARD_USER: [ROLE_USERDIRECTORY_OBSERVER]
        ROLE_DASHBOARD_ADMIN: [ROLE_DASHBOARD_USER]

        #testing
        #ROLE_TRANSRES_IRB_REVIEWER_USCAP: [ROLE_TRANSRES_USER, ROLE_TRANSRES_IRB_REVIEWER]
        #ROLE_TRANSRES_ADMIN_USCAP: [ROLE_TRANSRES_IRB_REVIEWER_USCAP]

        #"System Administrator" and "Deputy System Administrator"
        #ROLE_SYSTEM_DEPUTY_ADMIN: [ROLE_SYSTEM_USER]
        #ROLE_SYSTEM_ADMIN: [ROLE_SYSTEM_DEPUTY_ADMIN]

#        ROLE_ROLEEDITOR: [ROLE_SCANORDER_ADMIN, ROLE_USERDIRECTORY_EDITOR]
        #impersonate user: ?_switch_user=thomas
        ROLE_PLATFORM_DEPUTY_ADMIN: [ROLE_TESTER, ROLE_ALLOWED_TO_SWITCH,
                                    ROLE_USERDIRECTORY_ADMIN, ROLE_SCANORDER_ADMIN,
                                    ROLE_FELLAPP_ADMIN, ROLE_RESAPP_ADMIN, ROLE_DEIDENTIFICATOR_ADMIN,
                                    ROLE_VACREQ_ADMIN, ROLE_CALLLOG_ADMIN, ROLE_CRN_ADMIN,
                                    ROLE_TRANSRES_ADMIN, ROLE_TRANSRES_ADMIN_APCP, ROLE_TRANSRES_ADMIN_HEMATOPATHOLOGY,
                                    ROLE_TRANSRES_ADMIN_COVID19, ROLE_TRANSRES_ADMIN_MISI, ROLE_TRANSRES_ADMIN_USCAP,
                                    ROLE_TRANSRES_PROJECT_REACTIVATION_APPROVER, ROLE_TRANSRES_BIOINFORMATICIAN,
                                    ROLE_DASHBOARD_ADMIN]
        ROLE_PLATFORM_ADMIN: [ROLE_PLATFORM_DEPUTY_ADMIN]

        #"System Administrator" and "Deputy System Administrator"
        ROLE_SUPER_DEPUTY_ADMIN: []
        ROLE_SUPER_ADMIN: [ROLE_SUPER_DEPUTY_ADMIN]


    providers:
        users:
            entity:
                # the class of the entity that represents users
                class: 'App\UserdirectoryBundle\Entity\User'
                property: 'username'

        ### SAML testing ###
        saml_provider:
            id: App\Saml\Security\SamlUserProvider
        ### EOF SAML testing ###

