
{% extends "AppVacReqBundle/Default/base.html.twig" %}


{% block title %}
    Holiday Dates
{% endblock %}



{% block content %}
    <h4 class="text-info" align="center">
        Holiday Dates
    </h4>


{% endblock %}