{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ title }}</h3>

    <br><br>

    {{ formmacros.jstree('Institution Tree:','composite-tree') }}

{% endblock %}

