{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::ListForm/listmacros.html.twig" as listmacros %}

{% block content %}
    <h3 class="text-info">{{ type|capitalize }} Type</h3>

    {{ listmacros.listIndex( entities, type ) }}

{% endblock %}