{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ title|raw }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>

    <input type="hidden" id="disableIdleTimeout" value="1" />

    {% for panel in panels %}
        {#<p>#}
            {#{{ panel }}#}
        {#</p>#}

        {{ render(controller('App\\TranslationalResearchBundle\\Controller\\AntibodyController::showPanelAction', {'panelId':panel.id()})) }}
    {% endfor %}


{% endblock %}
