{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    Data Review
{% endblock %}

{% block content %}

    <h3 class="text-info">Data Review for <a href="{{ path('multy_show', { 'id': entity.oid }) }}">Order {{ entity.oid }}</a></h3>

    <br />

    {% if researches|length > 0 %}
        <p>
            {% render url('research_edit', {'id': entity.research.id}) %}
        </p>
    {% endif %}


    {% if educationals|length > 0 %}

        <br>
        <hr>
        <hr>
        <hr>
        <br>

        <p>
            {% render url('educational_edit', {'id': entity.educational.id}) %}
        </p>
    {% endif %}


{% endblock %}

