{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    Data Review
{% endblock %}

{% block content %}

    <h3 class="text-info">Data Review for <a href="{{ path('multy_show', { 'id': entity.oid }) }}">Order {{ entity.oid }}</a></h3>

    <br />

    {% if researches|length > 0 %}
        <p>
            {#{% include 'OlegOrderformBundle::Research/index.html.twig' %}#}
            {% render url('research_edit', {'id': entity.research.id}) %}
        </p>
    {% endif %}



    {% if educationals|length > 0 %}
        <br />
        <p>
            {#{% include 'OlegOrderformBundle::Educational/index.html.twig' %}#}
            {% render url('educational_edit', {'id': entity.educational.id}) %}
        </p>
    {% endif %}


    {#<p>#}
        {#<div  class="tabbable">#}
            {#<ul class="nav nav-tabs">#}
                {#<li class="active"><a data-toggle="tab" href="#research">Research: {{ researches|length }}</a></li>#}
                {#<li class=""><a data-toggle="tab" href="#educational">Educational: {{ educationals|length }}</a></li>#}
            {#</ul>#}
            {#<div class="tab-content">#}
                {#<div id="research" class="tab-pane active">#}
                    {#<p>#}
                        {#{% include 'OlegOrderformBundle::Research/index.html.twig' %}#}
                    {#</p>#}
                {#</div>#}
                {#<div id="educational" class="tab-pane">#}
                    {#<p>#}
                        {#{% include 'OlegOrderformBundle::Educational/index.html.twig' %}#}
                    {#</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</p>#}


{% endblock %}
