parameters:

  fellapp.sitename: fellapp
  fellapp.uploadpath:


twig:
    globals:
        fellapp_sitename: '%fellapp.sitename%'
        fellapp_util: "@fellapp_util"

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: true       # Allows optimizing the container by removing unused services; this also means
                                    # fetching services directly from the container via $container->get() won't work.
                                    # The best practice is to be explicit about your dependencies anyway.

    fellapp_authentication_handler:
        class: App\FellAppBundle\Security\Authentication\FellAppLoginSuccessHandler

    #fellowship application utilities
    fellapp_util:
        class: App\FellAppBundle\Util\FellAppUtil

    fellapp_importpopulate_util:
        class: App\FellAppBundle\Util\FellAppImportPopulateUtil

    fellapp_reportgenerator:
        class: App\FellAppBundle\Util\ReportGenerator
#        arguments: ["@doctrine.orm.entity_manager", "@service_container", "@templating"]
#        arguments: ["@doctrine.orm.entity_manager", "@service_container"]

    fellapp_googlesheetmanagement:
#        autowire: true
#        autoconfigure: true
#        public: true
        class: App\FellAppBundle\Util\GoogleSheetManagement

    fellapp_googlesheetmanagement_v2:
            class: App\FellAppBundle\Util\GoogleSheetManagementV2

    fellapp_rec_letter_util:
        class: App\FellAppBundle\Util\RecLetterUtil


    fellapp_role_voter:
        class: App\FellAppBundle\Security\Voter\FellAppRoleVoter
        public: false
        tags:
            - { name: security.voter }

    fellapp_permission_voter:
        class: App\FellAppBundle\Security\Voter\FellAppPermissionVoter
        public: false
        tags:
            - { name: security.voter }

#    string $accessToken, string $tokenType = "OAuth"
#    fellapp_customd_defaultservicerequest:
#        autowire: true
#        autoconfigure: true
#        public: true
#        class: App\FellAppBundle\Util\CustomDefaultServiceRequest
##        arguments: ['@app.controller', "OAuth"]
#        arguments:
#            $accessToken: "accessToken"
#            $tokenType: "OAuth"
    App\FellAppBundle\Util\CustomDefaultServiceRequest:
        autowire: true
        autoconfigure: true
#        arguments:
#            $accessToken: '@accessToken'
#            $tokenType: 'OAuth'
