{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    Maintenance
{% endblock title %}


{% block content %}

    <div>
        <h1>Maintenance</h1>

        <p>

            {#<strong>The server is temporarily down for maintenance</strong><br />#}
            {#The service needed to be locked to ensure data integrity during the update procedure<br />#}
            {#{% if maintenanceUntil is not empty %} The service will be down until {{ maintenanceUntil }}. {% else %} We will resume normal operations as soon as possible. {% endif %}#}

            {{ maintenanceloginmsg }}

        </p>
    </div>

{% endblock content %}