{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {#Pathology Faculty Vacation/Business Travel Requests#}
        {{ title }}
    </h4>

    Hello World!

{% endblock %}