{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}


{% block header %}

    {% if sitename == 'fellapp' %}
        {% include 'AppFellAppBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'resapp' %}
        {% include 'AppResAppBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'scan' %}
        {% include 'AppOrderformBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'employees' %}
        {% include 'AppUserdirectoryBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'deidentifier' %}
        {% include 'AppDeidentifierBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'vacreq' %}
        {% include 'AppVacReqBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'calllog' %}
        {% include 'AppCallLogBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'crn' %}
        {% include 'AppCrnBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'translationalresearch' %}
        {% include 'AppTranslationalResearchBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'dashboard' %}
        {% include 'AppDashboardBundle/Default/navbar.html.twig' %}
    {% endif %}

{% endblock %}


{% block title %}
    Thank you for downloading
{% endblock %}

{% block content %}


    <br><br><br>

    Your download should start automatically. If not, click
    <a id="downloadlink" href="{{ path(sitename~'_file_download',{'id':fileid}) }}">here</a>.

    <br><br><br>


{% endblock %}


{% block additionaljs %}

    <script language="Javascript">


        $(document).ready(function() {

            document.getElementById('downloadlink').click();

        });


    </script>

{% endblock %}


