{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% block title %}
    About Employee Directory
{% endblock %}

{% block contentleft %}


    <div style="margin-top: 100px;">

        <p>
            This site is built on the platform titled "O R D E R" (as in the opposite of disorder).
        </p>
        {#<h4 class="text-info">This site is built on the platform titled "O R D E R" (as in the opposite of disorder).</h4>#}

        <p>
            Designers: Victor Brodsky, Oleg Ivanov
        </p>

        <p>
            Developer: Oleg Ivanov
        </p>

        <br>

        <p>
            O R D E R is made possible by:
        </p>

        <br>

        <p>

        <ul>

            <li>PHP - php.net</li>

            <br>

            <li>
                Symfony - symfony.com
            </li>

            <br>

            <li>Doctrine - doctrine-project.org</li>

            <br>

            <li>
                Active Directory / LDAP Bundle -
                <a href="https://github.com/Maks3w/FR3DLdapBundle">FR3DLdapBundle</a>
            </li>

            <br>

            <li>
                Mailer Bundle -
                <a href="https://github.com/symfony/SwiftmailerBundle">SwiftmailerBundle</a>
            </li>

            <br>

            <li>
                Assetic Bundle -
                <a href="https://github.com/symfony/AsseticBundle">AsseticBundle</a>
            </li>

            <br>

            <li>
                User Bundle -
                <a href="https://github.com/FriendsOfSymfony/FOSUserBundle">FOSUserBundle</a>
            </li>

            <br>

            <li>
                PHP Excel -
                <a href="http://phpexcel.codeplex.com/">phpexcel</a>
            </li>

            <br>

            <li>
                File Upload Bundle -
                <a href="https://github.com/1up-lab/OneupUploaderBundle">OneupUploaderBundle</a>
            </li>

            <br>

            <li>
                Paginator Bundle -
                <a href="https://github.com/1up-lab/OneupUploaderBundle">KnpPaginatorBundle</a>
            </li>

            <br>

            <li>
                Template Engine -
                <a href="http://twig.sensiolabs.org/doc/advanced.html">Twig</a>
            </li>

            <br>

            <li>Bootstrap - getbootstrap.com</li>

            <br>

            <li>RequireJS - http://requirejs.org/</li>

            <br>

            <li>jQuery - jquery.com</li>

            <br>

            <li>jQuery UI - http://jqueryui.com/</li>

            <br>

            <li>jQuery.inputmask - https://github.com/RobinHerbots/jquery.inputmask</li>

            <br>

            <li>Select2 - ivaynberg.github.io/select2/</li>

            <br>

            <li>
                Bootstrap-Datepicker -
                <a href="www.eyecon.ro/bootstrap-datepicker">Datepicker</a>
            </li>


        </ul>


        </p>

    </div>

{% endblock %}


