{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% block title %}
    Thank you for downloading
{% endblock %}

{% block content %}


    <br><br><br>

    Your download should start automatically. If not, click
    <a id="downloadlink" href="{{ path(sitename~'_file_download',{'id':fileid}) }}">here</a>.

    <br><br><br>


{% endblock %}


{% block additionaljs %}

    <script language="Javascript">


        $(document).ready(function() {

            document.getElementById('downloadlink').click();

        });


    </script>

{% endblock %}


