{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% block title %}
    Thank you for downloading
{% endblock %}

{% block content %}


    {#<input type="hidden" id="fileid" value="{{fileid}}" />#}

    <br><br><br>

    Your download should start automatically. If not, click
    <a id="downloadlink" href="{{ path('employees_file_download',{'id':fileid}) }}">here</a>.

    <br><br><br>


{% endblock %}


{% block additionaljs %}

    <script language="Javascript">


        $(document).ready(function() {

            //var fileid = $('#fileid');
            //var url = getCommonBaseUrl("file-download/"+fileid,'employees');
            //window.location.href = url;

            //$("#downloadlink").click();
            document.getElementById('downloadlink').click();

        });


    </script>

{% endblock %}


