{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block content %}
    <h1>Stain creation</h1>


    <form action="{{ path('stain_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>


        <a href="{{ path('stain') }}">
            Back to the list
        </a>

{% endblock %}
