{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block content %}
    <h1>ProcedureList creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('procedurelist') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
