{#{% extends '::base.html.twig' %}#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 
{% block body -%}

    <h2>Single Slide Order</h2>
    
    {{ render( controller('OlegOrderformBundle:Slide:new') ) }}
      
{% endblock %}
{% endblock %}