
{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 

    <div class='btn_margin_top btn btn-primary' onclick='addTable()'>addTable</div>
    <div id="tableHolder"></div>

  
    
   
<style type="text/css">
table {
	border: 1px solid black;
	table-collapse: collapse;
}
</style>
    
{% endblock %}     
    