{% extends "OlegCallLogBundle::Default/base.html.twig" %}

{% block title %}
    No Permission
{% endblock %}

{% block content %}

    <div style="margin-top: 100px;">
        <p>
            Your account is not authorized to view this page.
            <a href="javascript:;" onclick="history.go(-1);">Return to previous page.</a>
        </p>
    </div>

{% endblock %}
