[setup]
# define if LOCAL or S3 storage will be used when storing/restoring the backup
storage_engine=LOCAL

[S3]
bucket_name="db_backups.s3.my.domain.com"  # S3 bucket name (no need for s3:// prefix)
bucket_backup_path="postgres/"  # PATH in the bucket to store your backups

[local_storage]
path=./backups/

[postgresql]
host=127.0.0.1
port=5432
db=ScanOrder
user=user
password=password