
{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {#<label style="display: inline;">#}
                {#<span style="white-space: nowrap;">#}
                <div class="radio_inline">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
                {#</span>#}
                {#</label>#}
            {% endfor %}

        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}



