
{% block footer %}

    <div class="footer">

            &copy; Copyright {{ "now"|date('Y') }} by
            <a href="http://www.cornellpathology.com">Pathology and Laboratory Medicine Department</a>
            at
            <a href="http://weill.cornell.edu">Weill Cornell Medical College</a>.

    </div>

{% endblock %}

