{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    Scan Order System
{% endblock %}

{% block content %}

    <div style="margin-top: 150px;">
        <h3 class="text-info">Welcome to the Scan Order System!</h3>
    </div>

{% endblock %}
