{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    ORDER
{% endblock %}

{% block contentleft %}

    O R D E R

    <br><br>

    Welcome to the O R D E R platform!

    <br><br>

    The following sites are available:

    <br><br>

    <a href="{{ path('scan-order-home') }}">Scan Order - here you can place an order to scan glass slides</a>

{% endblock %}
