<!DOCTYPE html>

<html>

<head>

    {% stylesheets
    'bundles/olegorderform/bootstrap/css/*' filter='cssrewrite'
    'bundles/olegorderform/form/css/form.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    <title>O R D E R</title>

    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>


<body>

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as myform %}

<div class="container">

    <div class="text-center">

        <h2 class="alert alert-info well-lg safary-fix" align="center">O R D E R</h2>

        <br><br>

        Welcome to the O R D E R platform!

        <br><br>

        The following sites are available:

        <br><br>

        <a href="{{ path('scan-order-home') }}">Scan Order - here you can place an order to scan glass slides</a>

        {% include 'OlegOrderformBundle::Default/footer.html.twig' %}

    </div> <!-- /text-center -->

</div> <!-- /container -->

</body>

</html>
