{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Tree/treemacros.html.twig" as treemacros %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ title }}</h3>

    <br><br>

    {{ treemacros.jstree('Institution Tree:','composite-tree') }}

{% endblock %}

