{#macros for tree#}

{% macro jstree( label, jstreeid ) %}
    {#{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}#}
    <p>
    <div class="row jstree-parent-container">
        <div class="col-xs-6" align="right">
            <strong>{{ label }}</strong>
        </div>
        <div class="col-xs-6" align="left">
            <p>
                <input class="form-control form-control-modif not-mapped-simplefield jstree-search" type="search" placeholder="Search" />
            </p>
            <div class="{{ jstreeid }}"></div>
        </div>
    </div>
    </p>
{% endmacro %}


{% macro compositeTreeNode( node, cycle, prototype ) %}
    {% import _self as treemacros %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    <p>
    <div class="composite-tree-holder">
        <div class="row treenode">
            <div class="col-xs-6" align="right">
                {{ form_label(node) }}
            </div>
            <div class="col-xs-6" align="left">
                {{ form_widget(node) }}
            </div>
        </div>
    </div>
    </p>
{% endmacro %}



