.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.pagination .page-number {
    font-size: 16px;
    font-weight: 600;
    color: #00a8ff;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pagination .page-number:hover {
    color: #fff;
    background: #00a8ff;
}

.pagination .active {
    color: #fff;
    background: #00a8ff;
}

.pagination .active:hover {
    color: #00a8ff;
    background: #fff;
}
