{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 
{% block body -%}


    <div class="jumbotron alert-info well">
        <p><h1>Thank You For Your Order !</h1></p>
        <p><h3>Order #{{ oid }} Successfully Submitted.</h3></p>
        <p><h3>Confirmation Email was sent to {{ app.security.getToken().getAttribute('email') }}</h3></p>      
    </div>

      
{% endblock %}
{% endblock %}
