{#{% extends '::base.html.twig' %}#}

{#{% extends "OlegOrderformBundle::Default/base.html.twig" %} #}

{% block content %} 
{% block body -%}

    <h2>Order Confirmation</h2>

    <p>
    You successfully submit a scan request!
    </p>
    <p>
    Your order ID:{{order_id}} 
    </p>   
    
{% endblock %}
{% endblock %}
