<style type="text/css">
table {
	border: 1px solid black;
	table-collapse: collapse;
}
</style>
<script type="text/javascript">
function addTable() {
	// if there's no table created yet, add the table to the tableHolder div
	var insertLocation = document.getElementById("tableHolder")
	var allTables = document.getElementById("tableHolder").getElementsByTagName("table")
	if (allTables.length > 0) {
		// if there is(are) a table(tables) in the tableHolder, add the table to the table created last
		insertLocation = allTables[allTables.length-1].getElementsByTagName("tr")[0].getElementsByTagName("td")[0]
	}
	// create new table
	var newTable = document.createElement("table")
	var newTBody = document.createElement("tbody")
	var newRow   = document.createElement("tr")
	var newCell  = document.createElement("td")
	//var newData  = document.createTextNode(allTables.length + ": some sample text")
        var newData  = document.createTextNode('Hello text')   
	newCell.appendChild(newData)
	newRow.appendChild(newCell)
	newTBody.appendChild(newRow)
	newTable.appendChild(newTBody)
	// insert new table at proper location
	insertLocation.appendChild(newTable)
}
</script>
</head>
<body>
    <div class='btn_margin_top btn btn-primary' onclick="addTable()">addTable</div>
    <div id="tableHolder"></div>
</body>
