{% block content %} 
{% block body -%}
{#<a class="btn btn-primary btn-default" data-toggle="modal" href="{{ path('login') }}" data-target="#modelPlainLogin">Login</a>#}
<div class="modal hide fade" id="modelPlainLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Please Login</h3>
</div>
<div class="modal-body">   
{#    {% render url('login') %}    #}
{#    {{ render( controller('OlegOrderformBundle:Security:login') ) }}#}
    
    {% include 'OlegOrderformBundle::Security/login_content.html.twig' %}
    
    
</div>
<div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Close</button></div>    
</div>
{% endblock %}
{% endblock %}
