{#{% extends '::base.html.twig' %}#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{#{% form_theme form 'OlegOrderformBundle:Default:fields.html.twig' %}#}

{% block content %}
{% block body -%}
    <h1>Part creation</h1>

    <form action="{{ path('part_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('part') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% endblock %}
