{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

<div class="row withpaddingtop" style="width1:90%; padding-left1:10%;">

    <div class="col-xs-12">

        <label class="control-label text-info">
            <h3>Signature</h3>
        </label>

        <p class="text-info">
            {#I hereby certify that all of the information on this application is accurate, complete, and current to the best of my knowledge, and that this#}
            {#application is being made for serious consideration of training in the Pathology Fellowship indicated. I understand that accepting more than#}
            {#one fellowship position constitutes a violation of professional ethics and may result in the forfeiture of all positions.#}
            {% if signatureStatement is defined and signatureStatement %}
                {{ signatureStatement|raw }}
            {% else %}
                I hereby certify that all of the information on this application is accurate, complete,
                and current to the best of my knowledge, and that this application is being made
                for serious consideration of training in the fellowship indicated.
                I understand that accepting more than one fellowship position constitutes
                a violation of professional ethics and may result in the forfeiture of all positions.
            {% endif %}
        </p>

    </div>

    {% if form.signatureName is defined %}
    <div class="row withpaddingtop withpaddingleft" style="padding-left1: 20px;">
        <div class="col-xs-6">
            {#<label for="signatureName" class="control-label required">Signature</label>#}
            {#<input type="text" class="form-control" id="signatureName" name="signatureName" placeholder="Signature (Please Type Your Full Name)">#}
            <p>
                {{ form_row(form.signatureName) }}
            </p>
        </div>
        <div class="col-xs-6">
            {#<label for="signatureDate" class="control-label required">Date</label>#}
            {#<input type="text" class="datepicker form-control allow-future-date" id="signatureDate" name="signatureDate" placeholder="Date">#}
            {{ formmacros.fieldDateLabel_vertical(form.signatureDate,'allow-future-date') }}
            {#{{ form_row(form.signatureDate) }}#}
        </div>
    </div>
    {% endif %}

</div>
