parameters:

    database_driver: pdo_sqlsrv
    database_host: 127.0.0.1
    database_port: null
    database_name: ScanOrder
    database_user: symfony2
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    mailer_password: null
    mailer_port: null
    mailer_auth_mode: null
    mailer_encryption: null
    locale: en
    secret: 563fd817cf2c4f1f692d90650b6fba50f782ccc9
    delivery_strategy: realtime

    #external DB connection
    database_driver_external: pdo_sqlsrv
    database_host_external: c.med.cornell.edu
    database_port_external: null
    database_name_external: external
    database_user_external: symfony2_external
    database_password_external: ~

    swift_delivery_addresses: [oli2002@med.cornell.edu]

    connection_channel: null