imports:
    - { resource: config.yml }
#    - { resource: "@AcmeDemoBundle/Resources/config/routing.yml" }

framework:
    router:
        resource: "%kernel.project_dir%/app/config/routing_dev.yml"
        strict_requirements: true
    profiler:
        only_exceptions: false
        collect: true

web_profiler:
    toolbar: true
    intercept_redirects: false

#monolog:
#    handlers:
#        main:
#            type:  stream
#            path:  %kernel.logs_dir%/%kernel.environment%.log
#            level: debug
#        firephp:
#            type:  firephp
#            level: info
#        chromephp:
#            type:  chromephp
#            level: info

#assetic:
#    use_controller: true

swiftmailer:
    delivery_address: oli2002@med.cornell.edu
