{#{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}#}


{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>

{% endblock %}

