/* 
    Created on : Jul 17, 2013, 1:12:10 PM
    Author     : oli2002
*/

.radio_newline {
    float: left;
    width: 100%;
    padding-top: 7px;
}
.radio_newline LABEL, .radio_newline INPUT {
    display: inline;
    padding-right: 5px;
}

.horizontal_type LABEL, .horizontal_type INPUT {
    display: inline;
    padding-right: 10px;
    padding-left: 5px;
}
.radio_inline{
    float:left;
    /*min-width:70px;*/
    /*width: auto !important;*/
    width: auto;
    /*width: 70px;*/
    margin-right:3%;
}


.flash-notice {
  color: #FF6600;
  font-size: 200%;
  margin-top: 3%;
}

/*.page-content-top {*/
   /*padding-top: 10%; */
/*}*/

/*sign in login*/
.form-signin {
    max-width: 250px;
    /*max-width: 100%;*/
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*end of sign in*/
.form-control-modif {
    //display: inline;
    height: 28px; //keep the same as combobox
    //width: 70%;
}


.header {
    float: left;
    width: 100%;
}

.footer {
    margin-top: 100px;
    margin-bottom: 100px;
    /*float: left;*/
    /*width: 100%;*/
}

.form_label_input {
    float: left;
    width: 100%;
    margin-top: 2%;
}

.btn_margin {
    margin-top: 2%;
    margin-bottom: 2%;
}

#form_menu {
    float: left;
    width: 100%;
}

.option_info_panel {
    padding-right: 1%;
    padding-left: 1%;
}

#next_button {
    margin-top: 2%; 
}

.buttons-full-bar {
    margin-bottom: 2%;
    margin-top: 2%;
    float: left;
    width: 100%;
}

.form_edit {
    float: left;
    width: 100%;
}

.activetr {
    background-color: rgb(217, 237, 247);
}

.canceltr {
    background-color: rgb(242, 222, 222);
}

.completedtr {
    background-color: rgb(223, 240, 216);
}

.uncompletedtr {
    /*background-color: rgb(252, 248, 227);*/
    background-color: white;
}

/*.panel*/
.panel-multi-form {
    border-left: 7px solid;
}

.panel-patient {
    border-color: #90BEE4;
}
.panel-patient .panel-heading {
    color: #ffffff;
    background-color: #90BEE4;
    border-color: #90BEE4;
    border-top-left-radius: 0px;
}

.panel-procedure {
    border-color: #71B0E4;
}
.panel-procedure .panel-heading {
    color: #ffffff;
    background-color: #71B0E4;
    border-color: #71B0E4;
    border-top-left-radius: 0px;
}

.panel-accession {
    border-color: #3F98C8;
}
.panel-accession .panel-heading {
    color: #ffffff;
    background-color: #3F98C8;
    border-color: #3F98C8;
    border-top-left-radius: 0px;
}

.panel-part {
     border-color: #428CCA;
 }
.panel-part .panel-heading {
    color: #ffffff;
    background-color: #428CCA;
    border-color: #428CCA;
    border-top-left-radius: 0px;
}

.panel-block {
    border-color: #1268B3;
}
.panel-block .panel-heading {
    color: #ffffff;
    background-color: #1268B3;
    border-color: #1268B3;
    border-top-left-radius: 0px;
}

.panel-slide {
    border-color: #FF9933;
}
.panel-slide .panel-heading {
    color: #ffffff;
    background-color: #FF9933;
    border-color: #FF9933;
    border-top-left-radius: 0px;
}

.panel-stain {
    border-color: #155183; //35478C
}
.panel-stain .panel-heading {
    color: #ffffff;
    background-color: #155183;
    border-color: #155183;
    border-top-left-radius: 0px;
}

.panel-scan {
    border-color: #FF9933; //35478C
}
.panel-scan .panel-heading {
    color: #ffffff;
    background-color: #FF9933;
    border-color: #FF9933;
    border-top-left-radius: 0px;
}

/*shift left the buttons on the each form menu*/
.element-title {
    float: left;
    padding-left: 1%;
}

.safary-fix {
    overflow: hidden;
}

.combobox-width {
    width: 100%;
}

.textarea {
    min-height: 75px;
}

/*Comment counter*/
#incoming-orders-menu-title, #incoming-orders-menu-badge {
    display: inline-block !important;
}

#incoming-orders-menu-title {
    padding-right: 3px !important;
    box-shadow: none;
}

#incoming-orders-menu-badge {
    padding-left: 3px !important;
    box-shadow: none;
}

/*Multi-Slide Table Order nav bar*/

/*align tabs to center*/
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs, .nav-pills {
    text-align:center;
}

/*make border*/
.tab-content {
    border-left: 1px solid #428bca;
    border-right: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.tabbable>.nav-tabs>.active>a, .tabbable>.nav-tabs>.active>a:hover, .tabbable>.nav-tabs>.active>a:focus {
    border: 1px solid #428bca;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #428bca;
}

.nav-tabs > li > a {
    color: #428bca
}

.nav-tabs > li > a:hover {
    background-color: #428bca;
    border: 1px solid #428bca;
    border-bottom-color: transparent;
    color: #ffffff
}
/*end of nav bar*/