/* 
    Created on : Jul 17, 2013, 1:12:10 PM
    Author     : oli2002
*/

/*.horizontal_type {*/
    /*padding-bottom: 1%;*/
/*}*/
.horizontal_type LABEL, .horizontal_type INPUT {
    display: inline;
    padding-right: 5%;
    padding-left: 5px;
}

.flash-notice {
  color: #FF6600;
  font-size: 200%;
  margin-top: 3%;
}

.page-content {
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    /*padding-top: 0%;*/
    /*padding-bottom: 5%;*/
    /*float: left;*/
    /*width: 100%;*/
    text-align: center;
}

.page-content-top {
   padding-top: 10%; 
}

/*sign in login*/
.form-signin {
    max-width: 250px;
    /*max-width: 100%;*/
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*end of sign in*/
.form-control-modif {
    display: inline;
    height: 27px;
    //width: 70%;
}

.fieldInputColl {
    float: left;
    width: 80%;
    position: relative;
}
.addDelBtnColl {
    float: right;
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.header {
    float: left;
    width: 100%;
}

.order-content {
    margin-top: 5%;
    /*float: left;*/
    /*width: 100%;*/
}

.footer {
    margin-top: 5%;
    float: left;
    width: 100%;
}

.form_label_input {
    float: left;
    width: 100%;
    margin-top: 2%;
}

.btn_margin {
    margin-top: 2%;
    margin-bottom: 2%;
}

#form_menu {
    float: left;
    width: 100%;
}

.option_info_panel {
    padding-right: 1%;
    padding-left: 1%;
}

#next_button {
    margin-top: 2%; 
}

.buttons-full-bar {
    margin-bottom: 2%;
    margin-top: 2%;
    float: left;
    width: 100%;
}

.form_edit {
    float: left;
    width: 100%;
}

.activetr {
    background-color: rgb(217, 237, 247);
}

.canceltr {
    background-color: rgb(242, 222, 222);
}

.completedtr {
    background-color: rgb(223, 240, 216);
}

.uncompletedtr {
    /*background-color: rgb(252, 248, 227);*/
    background-color: white;
}

/*align tabs to center*/
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs, .nav-pills {
    text-align:center;
}

.panel {
    /*border-top: 7px solid #428bca;*/
    border-left: 7px solid;
}

.panel-patient {
    border-color: #90BEE4;
}
.panel-patient .panel-heading {
    color: #ffffff;
    background-color: #90BEE4;
    border-color: #90BEE4;
    border-top-left-radius: 0px;
}

.panel-procedure {
    border-color: #71B0E4;
}
.panel-procedure .panel-heading {
    color: #ffffff;
    background-color: #71B0E4;
    border-color: #71B0E4;
    border-top-left-radius: 0px;
}

.panel-accession {
    border-color: #3F98C8;
}
.panel-accession .panel-heading {
    color: #ffffff;
    background-color: #3F98C8;
    border-color: #3F98C8;
    border-top-left-radius: 0px;
}

.panel-part {
     border-color: #428CCA;
 }
.panel-part .panel-heading {
    color: #ffffff;
    background-color: #428CCA;
    border-color: #428CCA;
    border-top-left-radius: 0px;
}

.panel-block {
    border-color: #1268B3;
}
.panel-block .panel-heading {
    color: #ffffff;
    background-color: #1268B3;
    border-color: #1268B3;
    border-top-left-radius: 0px;
}

.panel-slide {
    border-color: #FF9933;
}
.panel-slide .panel-heading {
    color: #ffffff;
    background-color: #FF9933;
    border-color: #FF9933;
    border-top-left-radius: 0px;
}

.panel-stain {
    border-color: #155183; //35478C
}
.panel-stain .panel-heading {
    color: #ffffff;
    background-color: #155183;
    border-color: #155183;
    border-top-left-radius: 0px;
}

.panel-scan {
    border-color: #FF9933; //35478C
}
.panel-scan .panel-heading {
    color: #ffffff;
    background-color: #FF9933;
    border-color: #FF9933;
    border-top-left-radius: 0px;
}

/*shift left the buttons on the each form menu*/
.form-btn-options {
    float:right;
    /*width: 20%;*/
}

.safary-fix {
    overflow: hidden;
}

/*.combobox-width {*/
    /*//min-width: 50%;*/
    /*width: 100%;*/
/*}*/

.form_body_toggle_btn {
    padding-right: 1%;
}

/*.glyphicon-folder-open, .glyphicon-folder-close{*/
    /*background-image: url("glyphicons-halflings-white.png");*/
/*}*/
/*.glyphicon-search, .glyphicon-filter{*/
    /*background-image: url("glyphicons-halflings.png");*/
/*}*/

/*.select2-arrow{*/
    /*background-image: url("select2.png");*/
/*}*/


/*@media (max-width: 980px) {*/
    /*.form-horizontal .control-group > label {*/
        /*float: none;*/
        /*width: auto;*/
        /*padding-top: 0;*/
        /*text-align: left;*/
    /*}*/
    /*.form-horizontal .controls {*/
        /*margin-left: 0;*/
    /*}*/
    /*.form-horizontal .control-list {*/
        /*padding-top: 0;*/
    /*}*/
    /*.form-horizontal .form-actions {*/
        /*padding-left: 10px;*/
        /*padding-right: 10px;*/
    /*}*/
/*}*/

/*@font-face {*/
    /*font-family: 'Glyphicons Halflings';*/
    /*src: url('../fonts/glyphicons-halflings-regular.eot');*/
    /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');*/
/*}*/



