/* 
    Created on : Jul 17, 2013, 1:12:10 PM
    Author     : oli2002
*/

/*
    Correction for the Slide new.html.twig form
    TODO: maybe it should be done by form theming (block overriding) 
*/
/*#oleg_orderformbundle_parttype_name, #oleg_orderformbundle_blocktype_name {
    float: left;
    width: 20%;
}
#test1 {
    float: left;
    width: 10%;
}*/

/*#add_slide_part_name {
    float: left;
    width: 10%;
}
#add_slide_block_name {
    float: left;
    width: 10%;
}*/

/*#add_slide_accession_accession {
    float: left;
    width: 50%;
}

#stain_label_div {
    float: left;
    width: 100%;
}*/
