
{#{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}#}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

{% block header %}{% endblock %}

{% block content %}

    {#<h4>My Team Test</h4>#}

    {# My Team #}
    {{ usermacros.userTeam( user, teamType, employees_sitename, postData, 'in' ) }}
   

{% endblock %}


    
 {% block additionaljs %}
     {% javascripts
     '@OlegUserdirectoryBundle/Resources/public/bootstrap-sortable/js/bootstrap-sortable.js'
     '@OlegUserdirectoryBundle/Resources/public/bootstrap-sortable/js/moment.min.js'
     %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
 {% endblock %}

{% block additionalcss %}
    {% stylesheets
    'bundles/oleguserdirectory/bootstrap-sortable/css/bootstrap-sortable.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
    
   