
{#{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}#}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

{% block header %}{% endblock %}

{% block content %}

    {#<h4>My Team Test</h4>#}

    {# My Team #}
    {{ usermacros.userTeam( user, 'home', employees_sitename, postData, 'in' ) }}
   

{% endblock %}


    
 
    
   