{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppVacReqBundle/Default/base.html.twig" %}

{% block title %}
    Vacation & Business Travel Request Groups
{% endblock %}


{% block content %}


    <h4 class="text-info" align="center">
        Vacation & Business Travel Request Groups
    </h4>


    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>

    {#<br>#}

    {% for organizationalInstitution in organizationalInstitutions %}

        <p>
            {{ render(controller('AppVacReqBundle:Approver:organizationalInstitution', { 'institutionId': organizationalInstitution.id })) }}
        </p>

    {% endfor %}


    {% for carryOverRequestGroup in carryOverRequestGroups %}

        <p>
            {{ render(controller('AppVacReqBundle:Approver:carryOverRequestGroup', { 'groupId': carryOverRequestGroup.id })) }}
        </p>

    {% endfor %}

    {% if is_granted('ROLE_VACREQ_ADMIN') %}
        <a class="btn-sm btn-warning" href="{{ path('vacreq_group_add') }}">Add Group</a>
    {% endif %}


{% endblock %}


