{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppVacReqBundle/Default/base.html.twig" %}

{% import "AppUserdirectoryBundle/Tree/treemacros.html.twig" as treemacros %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block title %}
    Vacation/Business Request Add Groups
    {#To add a new group of request submitters and approvers please select an existing organizational group or enter a new one#}
{% endblock %}


{% block content %}


    <h4 class="text-info" align="center">
        {#Vacation/Business Request Add Groups#}
        To add a new group of request submitters and approvers please select an existing organizational group or enter a new one
    </h4>


    {#<form method="POST">#}
    {{ form_start(form, {'method': 'POST'}) }}

        {{ formmacros.field(form.approvaltype) }}

        {{ treemacros.compositeTreeNode(form.institution,'','') }}

        <p>
            <button type='submit' class="btn btn-info btn-sm">Add Group</button>
        </p>

    {#</form>#}
    {{ form_end(form) }}

{% endblock %}


