{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppFellAppBundle/Default/base.html.twig" %}

{% block title %}
    Install Google Scripts
{% endblock %}


{% block content %}

    {#Show the path where GAS will be installed#}

    <form action="{{ path('fellapp_install_gas') }}" method="post">

        <div class="row">
            <div class="col-xs-6" align="right">
                <strong>
                    Google Script Name: <br>
                    This name will be used as a prefix for Fellowship Application and Recommendation Letter scripts.<br>
                    For example, if the name is 'MyScript', the local copies of the Fellowship Application script will be installed in
                    order-lab\utils\google-integration\scripts\MyScriptFellApp and the script name on Google will be MyScriptFellApp,
                    and the local copies of the Recommendation Letter script will be installed in
                    order-lab\utils\google-integration\scripts\MyScriptRecLet and the script name on Google will be MyScriptRecLet.<br>
                    {#--dir: local folder to keep local copies of the scripts. The scripts will be install inside folder#}
                    {#order-lab\utils\google-integration\scripts<br>#}
                    {#--title: title of a new Google scripts<br>#}
                    {#i.e.: python fellapp.py --dir MyFellAppTest --title MyFellAppTest#}
                </strong>
            </div>
            <div class="col-xs-6" align="left">
                <input type="text" class="form-control" name="params">
            </div>
        </div>

        <br>
        <input class="btn btn-primary" type="submit">
    </form>

{% endblock %}