{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}#}
{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% elseif sitename == 'fellapp' %}
    {% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'resapp' %}
    {% set extendStr = "AppResAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'deidentifier' %}
    {% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}
{% elseif sitename == 'scan' %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% elseif sitename == 'vacreq' %}
    {% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}
{% elseif sitename == 'calllog' %}
    {% set extendStr = "AppCallLogBundle/Default/base.html.twig" %}
{% elseif sitename == 'crn' %}
    {% set extendStr = "AppCrnBundle/Default/base.html.twig" %}
{% elseif sitename == 'translationalresearch' %}
    {% set extendStr = "AppTranslationalResearchBundle/Default/base.html.twig" %}
{% elseif sitename == 'dashboard' %}
    {% set extendStr = "AppDashboardBundle/Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}

{% block title %}
    No Permission
{% endblock %}

{% block content %}

    {% if empty is not defined %}
        {% set empty = false %}
    {% endif %}

    <div style="margin-top: 100px;">
        <p>
            {% if empty %}
                {#{{ message|raw }}#}
            {% else %}
                Your account is not authorized to view this page.
                <a href="javascript:;" onclick="history.go(-1);">Return to previous page.</a>
            {% endif %}
        </p>

        {% if additionalMessage is defined and additionalMessage %}
            <br><br>
            <p>
                {{ additionalMessage|raw }}
            </p>
        {% endif %}

    </div>

{% endblock %}
