parameters:

    vacreq.sitename: vacreq
    vacreq.uploadpath:


twig:
    globals:
        vacreq_sitename: '%vacreq.sitename%'
        #service
        vacreq_util: "@vacreq_util"


services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: true       # Allows optimizing the container by removing unused services; this also means
                                    # fetching services directly from the container via $container->get() won't work.
                                    # The best practice is to be explicit about your dependencies anyway.

    vacreq_authentication_handler:
        class: App\VacReqBundle\Security\Authentication\VacReqLoginSuccessHandler
        arguments:  ["@service_container", "@doctrine.orm.entity_manager"]

    vacreq_role_voter:
        class: App\VacReqBundle\Security\Voter\VacReqRoleVoter
        public: false
        arguments: ['@security.access.decision_manager', "@doctrine.orm.entity_manager", "@service_container"]
        tags:
            - { name: security.voter }

    vacreq_permission_voter:
        class: App\VacReqBundle\Security\Voter\VacReqPermissionVoter
        public: false
        arguments: ['@security.access.decision_manager', "@doctrine.orm.entity_manager", "@service_container"]
        tags:
            - { name: security.voter }

    vacreq_util:
        class: App\VacReqBundle\Util\VacReqUtil
#        arguments: ["@doctrine.orm.entity_manager", "@security.token_storage", "@security.authorization_checker", "@service_container"]

    vacreq_import_data:
        class: App\VacReqBundle\Util\VacReqImportData
        arguments: ["@doctrine.orm.entity_manager", "@service_container"]

#    vacreq_awaycalendar_listener:
#        class: App\VacReqBundle\EventListener\CalendarEventListener
#        arguments: ["@doctrine.orm.entity_manager", "@service_container"]
#        tags:
#            - { name: kernel.event_listener, event: calendar.load_events, method: loadEvents }

    App\VacReqBundle\EventListener\CalendarSubscriber:
        arguments: ["@doctrine.orm.entity_manager", "@service_container"]
#        tags:
#            - { name: kernel.event_listener, event: calendar.load_events, method: loadEvents }

    App\VacReqBundle\Controller\ApproverController:
        arguments: ["@vacreq_util"]

