{% extends "OlegUserdirectoryBundle::Profile/edit_user.html.twig" %}



{% block addcontent %}

    {% if is_granted('ROLE_SCANORDER_ADMIN') %}
        <br>
        <br>
        <p>
            <a href="{{ path('scan_order_settings_show',{'id':entity.id}) }}">Edit Scan Order Settings</a>
        </p>
    {% endif %}

{% endblock %}
