{% extends "OlegUserdirectoryBundle::Profile/edit_user.html.twig" %}



{% block addcontent %}

    <br>

    <br>

    <p>
        <a href="{{ path('scan_order_settings_show',{'id':entity.id}) }}">User's Scan Order Settings</a>
    </p>

{% endblock %}
