#AllowOverride All
#Order Allow,Deny
#Allow from All
#Require all denied
#Require all granted
#Require valid-user

#<IfModule mod_rewrite.c>
   #Using the rewrite engine
   #RewriteEngine On
   #RewriteCond %{REQUEST_FILENAME} !-d
   #RewriteCond %{REQUEST_FILENAME} !-f
   #Rewrite rule to redirect the request
   #RewriteRule ^(.*)$ web/$1 [QSA,L]
#<IfModule>


#RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?127.0.0.1\.ltd [NC]
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?127.0.0.1\.ltd.*$ [NC]
#RewriteRule \.(gif|jpg|js|txt|pdf)$ /messageforcurious [L]

#RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost/ [NC]
#RewriteRule \.(jpe?g|gif|bmp|png|pdf)$ - [F,NC]

#Order deny,allow
#Deny from all

#https://stackoverflow.com/questions/2679524/block-direct-access-to-a-file-over-http-but-allow-php-script-access
#http://127.0.0.1/Uploaded/fellapp/FellowshipApplicantUploads/1648737953ID1eKhRk08EVT7G0njSrZnOAA7cFKfNAjIt.pdf
#http://view-test.med.cornell.edu/Uploaded/fellapp/FellowshipApplicantUploads/1648817110ID1SgllJ64fBKjh5tMyfGZHRLuoXAtDi5cN.pdf
#http://view.med.cornell.edu/Uploaded/fellapp/FellowshipApplicantUploads/1652976018ID1b1dC3DknQgjtNG4o-WnW0x2cLKXZOm7c.pdf
#Order Allow,Deny
#Require all denied
#Order Allow,Deny

#https://httpd.apache.org/docs/2.4/mod/mod_access_compat.html#allow
#Order Deny,Allow
#Deny from all
#Allow from 127.0.0.1
#test server
#Allow from 157.139.226.86
#live server
#Allow from 157.139.226.124


#Order Allow,Deny
#Allow from localhost
#Allow from 127.0.0.1
#Allow from 157.139.226.86
#Allow from 157.139.226.124

#Order Deny,Allow
#Deny from all
Order Allow,Deny
Allow from localhost
Allow from 127.0.0.1
Allow from 127.0.0.1 ::1
Allow from 157.139.226.86
Allow from 157.139.226.124
Satisfy Any


