{% extends "OlegCallLogBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegCallLogBundle::Default/calllogmacros.html.twig" as calllogmacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>


    {#{% import "OlegUserdirectoryBundle::Tree/treemacros.html.twig" as treemacros %}#}
    {#<a role="button" data-toggle="collapse" href="#collapseInstitutionUserTree" onclick="displayInstitutionUserTree('default');">Organizational Tree</a>#}
    {#<div id="collapseInstitutionUserTree" class="panel-collapse collapse">#}
        {#{{ treemacros.jstreemacros('composite-tree','UserdirectoryBundle','Institution_User','employees_showuser','nosearch') }}#}
    {#</div>#}


<pre>
<div class="text-left">

1- Transfusion Medicine

    - Platelets
    - First Dose Platelets
    - Third+ Dose Platelets
    - Complex Platelet Summary
    - Plasma
    - Cryoprecipitate
    - Factors
    - RBCs
    - Transfusion Reaction
    - MTP and Emergency
    - Other
    - Links
        <a href="https://teams.nyp.org//sites/Clinical/Lab/WCTMCT/default.aspx">- TM/CT Administrative Sharepoint Site</a>
        <a href="https://teams.nyp.org/sites/Clinical/TMCS/default.aspx">- TM/CT Clinical Sharepoint Site</a>
        <a href="https://infonet.nyp.org/Lab/Pages/Transfusion.aspx">- TM/CT Infonet Site</a>

2- Microbiology

    - Antibiotic Sensitivity Approval
    - Viracor Testing
    - Critical Value

3- Coagulation

    - Critical Value

4- Hematology

    - Peripheral Blood Smear Review

5- Chemistry

    - Critical Value
    - Aberrant analyte

6- Cytogenetics

7- Molecular

8- Links

    <a href="http://ita5.nyp.org">- Citrix Web VPN</a>
    <a href="https://infonet.nyp.org">- Infonet</a>
    <a href="https://inyp.nyp.org/inyp/">- iNYP</a>
    <a href="https://nyp.labqms.com/">- SoftTech Document Management</a>
    <a href="https://www.testmenu.com/nyphweillcornell">- Cornell Clinical Laboratories</a>

</div>
</pre>


{% endblock %}

