/web/bundles/
/web/css/
/web/js/
/web/log/
/web/uploads/
/web/Uploaded/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/*
!/vendor/aperio
!/vendor/olegutil
/bin/
/composer.phar
/src/Oleg/OrderformBundle/Entity/*.php~
/.idea/
/nbproject/
#/src/Oleg/UserdirectoryBundle/Util/*.xlsx
#/src/Oleg/UserdirectoryBundle/Util/*.xls
#/src/Oleg/VacReqBundle/Util/*.xls
#/src/Oleg/FellAppBundle/Util/*.p12
#/src/Oleg/FellAppBundle/Util/*.xml
