/web/bundles/
/web/css/
/web/js/
/web/log/
/web/test/
/web/Uploaded/
#/app/bootstrap.php.cache
/app/cache/*

#Symfony 3
/node_modules/
/phpunit.xml
/.php_cs
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/data
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

#/var/cache/*
#/var/logs/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/*
#/bin/
/composer.phar
/src/Oleg/OrderformBundle/Entity/*.php~
/.idea/
/nbproject/
###
Scanorders2/web/uploads/documents/*.txt
/Scanorders2/web/uploads/documents/*.txt
/web/uploads/
/web/uploads/*
###
########### Add manually to the source code: ###########
#1) UserdirectoryBundle/Util/Users*.xlsx (optional)
#2a) FellAppBundle/Util/*.p12 - required for google authentication
#2b) FellAppBundle/Util/*.xml (optional)
#3) /vendor/olegutil - required for fellapp pdf processing (ghostscript, LibreOffice, PDFTK)
#4a) /vendor/aperio for aperio authentication (optional)
#4b) /src/Oleg/OrderformBundle/Security/AperioLdap/DatabaseRoutines.php (optional)
######################
/src/Oleg/UserdirectoryBundle/Util/Users*.xlsx
/src/Oleg/UserdirectoryBundle/Util/users.xlsx
/src/Oleg/VacReqBundle/Util/*.xls
/src/Oleg/FellAppBundle/Util/*.p12
/src/Oleg/FellAppBundle/Util/*.xml
/src/Oleg/OrderformBundle/Security/AperioLdap
/src/Oleg/OrderformBundle/SDK
/src/Oleg/TranslationalResearchBundle/Util/*.xlsx
### add manually to the source code: /vendor/aperio and /vendor/olegutil
### ignore aperio and  olegutil for pdf processing (ghostscript, LibreOffice, PDFTK)
#!/vendor/aperio
#!/vendor/olegutil

### Certificate ###
/src/Oleg/UserdirectoryBundle/Cert/*
!/src/Oleg/UserdirectoryBundle/Cert/acme-client*
