/web/bundles/
/web/css/
/web/js/
/web/log/
/web/uploads/
/web/Uploaded/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/*
!/vendor/aperio
!/vendor/olegutil
/vendor/olegutil/LibreOfficePortable/Data/settings/.*
/bin/
/composer.phar
/src/Oleg/OrderformBundle/Entity/*.php~
/.idea/
/nbproject/
