{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    Slide Order Access Request
{% endblock %}

{% block content %}

    <p>
        <h3 class="text-info">Welcome to the Scan Order system!</h3>
    </p>

    <p>
        <h3 class="text-info">Would you like to receive access to this site?</h3>
    </p>

    <form action="{{ path('access_request_create', { 'id': userid }) }}" method="post">

        <p>
            <button class="btn btn-info" type="submit">Yes, please!</button>
        </p>

    </form>


    <p>
        {#<button class="btn btn-info" type="submit">No, thanks!</button>#}
        <a class="btn btn-info" href="{{ path('logout') }}">No, thanks!</a>
    </p>

{% endblock %}
