<!DOCTYPE html>
<html>

<head>

    {% stylesheets
        '@OlegOrderformBundle/Resources/public/bootstrap/css/*' filter='cssrewrite'
        '@OlegOrderformBundle/Resources/public/form/css/form.css'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    <title>Slide Order Access Request Confirmation</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>

<div class="container">
    <div class="text-center">

        <h2 class="alert alert-info well-lg safary-fix" align="center">Scan Order Submission</h2>

        <br>

        <br><br><br>

        <p>
            <h3 class="text-info text-center">{{ text }}</h3>
        </p>

        <br><br><br>

        <br>
        <p>
        <a href="{{ path('login') }}">Return to Log In page</a>
        </p>


        {% include 'OlegOrderformBundle::Default/footer.html.twig' %}

    </div> <!-- /text-center -->
</div> <!-- /container -->


</body>

</html>