{% extends "OlegVacReqBundle::Default/base.html.twig" %}


{% block title %}
    Away Calendar
{% endblock %}



{% block content %}

    <h4 class="text-info" align="center">
        Away Calendar
    </h4>

    <br>


    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}

{% endblock %}



{% block additionalcss %}
    {% stylesheets
        'bundles/adesignscalendar/css/fullcalendar/fullcalendar.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block additionaljs %}
    {% javascripts
        'bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js'
        'bundles/adesignscalendar/js/calendar-settings.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


