{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::ListForm/listmacros.html.twig" as listmacros %}

{% block title %}
    {{ type|capitalize }}
{% endblock %}

{% block content %}
    <h3 class="text-info">{{ type|capitalize }}</h3>

    {{ listmacros.listIndex( entities, type ) }}

{% endblock %}