{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::ListForm/listmacros.html.twig" as listmacros %}

{% block title %}
    {{ type|capitalize }} Show
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ type|capitalize }} Show</h3>

    {{ listmacros.listEdit( edit_form, delete_form, type, 'show' ) }}

{% endblock %}
