<!DOCTYPE html>
<html>

    <head>

        {% stylesheets
            '@OlegOrderformBundle/Resources/public/bootstrap/css/*' filter='cssrewrite'
            '@OlegOrderformBundle/Resources/public/form/css/form.css'
        %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

        <title>Scan Order Submission</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <div class="container">

            {% include 'OlegOrderformBundle::Security/login_content.html.twig' %}

            <div class="page-content">
                <div class="footer">
                    {% block footer %}
                        &copy; Copyright 2013 by <a href="https://webmail.med.cornell.edu/">Pathology - Weill Cornell Medical College</a>.
                    {% endblock %}
                </div>
             </div>

        </div> <!-- /container -->


    </body>
         
</html>