<!DOCTYPE html>
<html>

{% stylesheets 
    '@OlegOrderformBundle/Resources/public/bootstrap/css/*' filter='cssrewrite'
    '@OlegOrderformBundle/Resources/public/form/css/form.css'  
%}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}  

<head>
{% block head %}                                                                       
    <title>{% block title %}{% endblock %} Scan Order Submission</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
</head> 

<body>

{#    {% include 'OlegOrderformBundle:Default:navbar.html.twig' %}#}
    
    <div class="page-content">          
        {% block content %} 
        {% block body -%}

            {% include 'OlegOrderformBundle::Security/login_content.html.twig' %}

        {% endblock %}
        {% endblock %}    


    <div class="footer">
        {% block footer %}
            &copy; Copyright 2013 by <a href="https://webmail.med.cornell.edu/">Pathology - Weill Cornell Medical College</a>.
        {% endblock %}
    </div>     
        
    </div>    
</body>
         
</html>